@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Londrina+Solid&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
  /* Color */
  --primary: #8f5bd8;
  --white: #ffffff;
  --primary-text: #504a4a;
  --secondary-text: #a5a5a5;
  --slip-color1: #98cdc8;
  --slip-color2: #4461f2;
  --warning: #ffc107;

  /* Font-Weight */
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  font-family: "Inter", sans-serif;
}

/* navbar */
.navbarr {
  background-color: var(--primary);
}

#nav_header {
  font-family: "Londrina Solid", cursive;
  font-size: 28px;
  text-decoration: none;
}

#nav_text {
  font-weight: var(--semi-bold);
  font-size: 18px;
}

#login-button {
  color: var(--primary);
  font-weight: var(--semi-bold);
  font-size: 18px;
}
/* navbar */

body {
  height: 100%;
  overflow-x: hidden;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Konten Kiri */
#grid-left {
  height: 100%;
  background-color: var(--primary);
}

#grid-right {
  height: 100%;
}

#text-kiri {
  font-size: 24px;
  font-weight: var(--semi-bold);
  color: var(--primary-text);
}

#slip-color {
  color: var(--slip-color1);
}

/* Konten Kiri */

/* Register & Login Page */

#text-registrasi,
#text-masuk {
  font-size: 36px;
  font-weight: var(--bold);
  color: var(--primary-text);
}

#form-text {
  font-size: 18px;
  color: var(--primary-text);
}

#checkbox-text {
  font-size: 11px;
  color: var(--primary-text);
}

#checkbox-text {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--secondary-text);
}

#checkbox-text-login {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--primary-text);
}

#slip-color2 {
  color: var(--slip-color2);
}

#register-button {
  font-size: 20px;
  font-weight: var(--semi-bold);
}

#login-button-login {
  color: var(--white);
  width: 100%;
  font-size: 20px;
  font-weight: var(--semi-bold);
}

#link-text-login,
#link-text-register {
  font-size: 14px;
  font-weight: var(--medium);
  color: var(--primary-text);
}

#link-page {
  text-decoration: none;
}

/* Register Page */

/* Footer */
#footer {
  background: var(--primary);
}

#shoecleaning-footer {
  font-family: "Londrina Solid", cursive;
  font-size: 18px;
  color: var(--white);
}

#desc-col1 {
  font-size: 17px;
}

#footer-text {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}

#desc-col1 {
  font-size: 14px;
  color: var(--white);
}
/* Footer */
